
*{
    padding:0px;
    margin:0px;
    font-family:Montserrat,Roboto;

}
body{
    
    background: #fff;
    color:#fff ;
}
#logo a{
    font-size:4em;
    font-family:'Shadows Into Light', cursive;
    text-decoration: none;
    color:#eee;
    padding-left:50px;
    
}
#detailrow{
       margin-top:10%;
}
.row{
    background: rgba(238, 238, 238, 0.39);
  
}

.white-text h1{
    margin-bottom: 20px;
}

#entrynotfound{
    font-size:5em;
    position: relative;
    left:45%;
    opacity: 0.3;
    padding-top:15vh;
}



h1 > hr{
    width:3em;
    border:2px solid #222;
    margin-bottom: 20px;

}
#hr{
    border:2px solid #fff;
}
#menuhead{
    padding-top:20px;
    margin-left:30px;
    color:rgb(158, 158, 158);
}
nav{
    padding:20px 0px;
    padding-bottom: 100px;

}
.nav-wrapper{
    background:#263238 ;
}
.nav-wrapper ul li a{
    color:#fff;
    font-size:18px;
}

main{
    width: 100%;
    margin:0 auto;
    padding:100px;
    background: #fff;
    color:#222;
    min-height: 88vh;
    
}
#Portfolio{
    min-height: 51vh;
}
#Portfolio > h2 {
    opacity: 0.3;
    text-align:center;
    font-size:3em;
}
#Portfolio div {
    opacity: 0.3;
    text-align:center;
}
#Portfolio i{
    font-size:5em;
}
main ul{
    list-style: none;
    min-height:50vh;
    
}
#section{
    line-height: 38px;
    margin-bottom: 60px;
    border-bottom: 5px solid #555;
    border-bottom-style:dashed;
    padding-bottom:80px;
}

input[type="text"]:not(.browser-default){
    background-color: #fefefe;
}

main ul li h2{
    font-size: 2.5em;
    margin-left: -40px;
    margin-bottom:20px;
}
main ul li{
    margin-left:80px;
    font-weight: 800;
}
main ul li a{
    color:#222;
    text-decoration: none;
    font-weight:500;
}

main h1{
    font-size:3.5em;
    margin-bottom:40px;
    font-family: montserrat;
    font-weight: 400;
}

main form{
    line-height: 50px;

}

main form input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important;
  margin: 0 !important; 
}

main form input[type=number]{
     
  -moz-appearance: textfield;
}

main form input,#id_requirements{
    padding:5px 15px;
    border-radius: 30px;
    border:none;
    background: #fff;
    outline:none;
}
#id_requirements{
    padding:20px 20px;
}
#submit{
    font-size: 20px;
    padding:15px 25px;
    color:#555;
    background: #eee;
    float:right;
    transition: 0.5s ease-in;
    cursor: pointer;
    font-weight: 600;
}

#submit:hover{
    background: rgba(55, 55, 55, 0.8);
    color:#fff;
}
#contact{
    font-size:3.5em;
    margin-bottom: 40px;
    font-weight: 300;
    font-family: montserrat;
}
footer{
    padding:50px;
    background:#212121;
    color:#fff;
    width:100%;
    text-align: center;
    font-size:18px;
}
#id_requirements {
    padding: 20px 20px;
    resize: none;
    overflow: hidden;
    height: 150px;
}
form p {

    line-height: 3em;

    }

form input{
    background: #fefefe;
}


@media screen and (max-width: 992px) {
    main,footer,#logo,.sidenav > a{
      font-size:0.9em;
    }
    #section{
    font-size:0.98em;
    line-height: 25px;
    }
    #rowtext{
        padding-left:20px;
    }
    .row{
        padding-bottom:30px;
    }
    #logo a{
        padding-left:0px;
        font-size:3.2em;
    }

    .material-icons > a:hover{
        color:rgb(149, 149, 149) !important;
    }
    #entrynotfound{
        font-size:4em;
        text-align: center;
    }
    #nothing{
        font-size:20px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    main,footer,#logo,.sidenav >a{
        font-size:0.7em;
      }
      #section{
          font-size:0.8em;
        line-height: 20px;
        margin-bottom: 30px;
        border-bottom: 2px solid #555;
        border-bottom-style:dashed;
        padding-bottom:50px;
    }
    #entrynotfound{
        font-size:3em;
        text-align:center;
    }
    #nothing{
        font-size:18px;
    }
    footer{
        padding:20px;
    }
    nav{
        margin-top:-20px;
        padding-bottom: 70px;
    
    }
    #rowtext{
        padding-left:20px;
    }
    .row{
        padding-bottom:30px;
    }
    #logo a{
        padding-left:0px;
        font-size:2.8em;
    }
    .material-icons > a:hover{
        color:rgb(149, 149, 149) !important;
    }
  }

  @media screen and (max-width: 360px) {

    #logo a,footer{
        font-size:16px;
    }

  }